<!DOCTYPE html>
<html lang="en">
<head>
   
    <%- include('../../layout/head') %>

</head>
<header>
    <%- include('../../layout/header') %>
</header>
<body>
    <%- include('./detail', {page_title: 'Details'}) %>
    <form action="/"  method="get">
        <button>View Saved Books</button>
    </form>
    
    
    <section id="update-section">
        <%- include('./edit.ejs'); %>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="../../../js/app.js"></script>
</html>