<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="get">
        <fieldset>
            <legend>search by Title Author</legend>
            <label for="">
                <input type="text" name="Enter a title or author" placeholder="Enter a title or author">
            </label>
            <br>

            <label>Title
                <input type="radio" name="contact" value="title">
              </label>
              <br>
      
              <label>Author
                <input type="radio" name="contact" value="author">
              </label>
              <br>
      
        </fieldset>
    
    
    </form>
    
</body>
</html>