<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>
<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
    <form action="/searches" method="post">
        <fieldset>
            <legend>search by Title Author</legend>
            <label for="">
                <input type="text" name="search" placeholder="Enter a title or author">
            </label>
            <br>

            <label>Title
                <input type="radio" name="search_by" value="title">
              </label>
              <br>
      
              <label>Author
                <input type="radio" name="search_by" value="author">
              </label>
              <br>
              <button>Search the Google Books API</button>
      
        </fieldset>
    
    
    </form>
    
</body>
</html>